.QuestionnaireList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background-color: #586072;
}

.QuestionnaireList h1 {
    color: #fff;
}

.QuestionnaireList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.QuestionnaireList ul li {
    margin-bottom: 10px;
}

.QuestionnaireList ul li a{
    text-decoration: none;
    color: #000;
}

.QuestionnaireList ul li a:hover{
    color: #bbb;
}